.card {
  width: 100%;
  min-height: 100vh;

}

.card__item {
    min-width: 350px;
  width: 30%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  text-align: center;
  padding: 40px 0;
  background: #fff;
}

.card__item--active {
  background: #5175ff;
}
