<main class="gallery">
  <h2 class="gallery__title">Galeria de imagenes Flexbox</h2>
  <section class="gallery__container">
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image1.jpg"
        class="gallery__image"
      />
    </figure>
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image2.jpg"
        class="gallery__image"
      />
    </figure>
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image3.jpg"
        class="gallery__image"
      />
    </figure>
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image4.jpg"
        class="gallery__image"
      />
    </figure>
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image5.jpg"
        class="gallery__image"
      />
    </figure>
    <figure class="gallery__picture">
      <img
        src="assets/flexbox/gallery/img/image6.jpg"
        class="gallery__image"
      />
    </figure>
  </section>
</main>
